/* Nanum Gothic */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
  list-style: none;
}
body{
  font-family: 'Nanum Gothic', sans-serif;
  color: #222;
  margin: 0;
}
a{
  text-decoration: none;
  color: #222;
}
#header-wrap{
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 99999;
}
.inline-header-normal{}
.logo-wrap {
  margin: auto;
}

.logo-inline-inside {
  width: 1200px;
  margin: auto;
}

.logo-inline-section {
  display: flex;
  justify-content: center;
}

.inline-col-group-left {
  width: 390px;
  height: 90px;
  /* padding:30px 0px; */
}

.inline-col-group-center {
  width: 420px;
  height: 90px;
  /* padding:30px 0px; */
  display: flex;
  justify-content: center;
}

.logo-img  {
  padding: 30px;
}

.inline-col-group-right {
  width: 390px;
  height: 90px;
  /* padding:30px 0px; */
  display: flex;
  justify-content: flex-end;
}

.wiget {
  margin: 30px;
}

.wiget a {
  margin-left: 8px;
  font-size: 13px;
  font-weight: 700;
  color: #55585b;
}
/* gnb */
.gnb-wrap{}
.gnb-inline-inside{}
.gnb-inline-section{}
.gnb-inline-row{}

.gnb-inline-col,
.submenu-inline-col {
  /* padding:10px 0px; */
  z-index: 100;
  box-sizing: border-box;
}

.gnb-inline-col ul {
  height: 30px;
  display: flex;
  justify-content: center;
}

.gnb-inline-col ul li {
  height: inherit;
  text-align: center;
  line-height: 40px;
  width: 200px;
  padding:0px 50px;
}

.gnb-inline-col ul li a{
  color: #55585b;
  font-weight: 700;
  
}

.submenu-inline-row {
  height: 40px;
  background-color: #f4f4f4;
}

.submenu-inline-col {
  z-index: 1;
  height: 40px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.submenu-inline-col ul {
  display: flex;
  justify-content: center;
  margin: auto;
  height: inherit;
  top: 0;
}
.submenu-inline-col ul li {
  width: 150px;
  padding:0px 20px;
  height: inherit;
  line-height: 40px;
  transition: 0.3s;
}

.submenu-inline-col ul li:hover{
  background-color: #1ecad3;   
}

.submenu-inline-col ul li:hover a{
  color: white;
}

.submenu-inline-col ul li a {
  color: rgb(131, 131, 131);
  font-size: 13px;
  font-weight: 700;
}
/* common style */
.gnb-inline-col ul li a:hover,
.wiget a:hover{
  color: #888888;
}


/* 여기서부터 section; top:193px */
section{
  position: absolute;
  top: 193px;
  height: 300px;
  width: 100%;
  background-color: darkgoldenrod;
}
footer{
  position: absolute;
  top: 493px;
  width: 100%;
  height: 300px;
  background-color: gold;
  
}


