@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    position: relative;
}

/* header ------------------------------시작 */
#header-wrap {
    z-index: 1;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.new-header {
    /* display: flex; */
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.inline-section-wrap {
    width: 100%;
}


.inline-inside {
    width: 1200px;
    margin: auto;
}

.inline-section {
    display: flex;
    justify-content: center;
}

.inline-col-group-left {
    width: 390px;
    height: 90px;
    padding:30px 0px;
}

.inline-col-group-center {
    width: 420px;
    height: 90px;
    padding:30px 0px;
    display: flex;
    justify-content: center;
}

.logo-img img {
    width: 160px;
}

.inline-col-group-right {
    width: 390px;
    height: 90px;
    padding:30px 0px;
    display: flex;
    justify-content: flex-end;
}

.wiget {
    /* margin-right: 20px; */
}

.wiget a {
    line-height: 50px;
    margin-right: 5px;
    /* margin-top: 20px; */
    font-weight: 200;
    font-size: 14px;
}

.inline-col {
    padding:10px 0px;
    z-index: 100;
}

.inline-col ul {
    height: 40px;
    display: flex;
    justify-content: center;
}

.inline-col ul li {
    font-size: 15px;
    /* font-family: 'Nanum Gothic', sans-serif; */
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 350px;
    padding:0px 50px;
    
}

.inline-col ul li a {
    font-weight: 300;
}

.inline-row:last-child {
    height: 40px;
}

.inline-row:last-child>.inline-col {
     z-index: 1;
     height: 40px;
     padding: 0;
}
.inline-row:last-child>.inline-col ul {
    height: 10px;
}
.inline-row:last-child>.inline-col ul li {
    width: 250px;
    padding:0px 20px;
    height: 40px;
    transition: 0.3s;
}

.inline-row:last-child>.inline-col ul li:hover{
    background-color: #1ecad3;   
}

.inline-row:last-child>.inline-col ul li:hover a{
    color: white;
}

.inline-row:last-child>.inline-col ul li a {
    color: rgb(255, 255, 255);
}

/* 메인화면 gnb 라인 */
.line {
    /* display: none; */
    margin-top: 25px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.inline-section-warp {
    /* position: relative; */
}

/* .inline-insid-bottom-bg {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 40px;
    background-color: rgb(240, 240, 240);
    z-index: -1;
} */

/* -------------------------------------------------- header 끝 */
/* -------------------------------------------------- main 시작 */
.sec01 {
    max-width: 1920px;
    height: 1000px;
    display: flex;
    justify-content: center; 
    

    /* border: 1px solid red; */
}

.sec01-title {
    font-size: 35px;
    position: absolute;
    text-align: center;
    min-width: 1200px; 
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0 auto;
    letter-spacing: 5px;
    /* border: 1px solid red; */
}

.sec01-title span{
    border-bottom: 4px solid #ffffff;
}

.sec01-video-background {
    /* width: 1920px; */
    /* height: 100%; */
    /* border: 1px solid red; */
    overflow: hidden;
}

.sec01-video {
    width: 1960px;
}

/* ---------------------------------------------------------sec02 */

.sec02 {
    position: relative;
    width: 100%;
    max-height: 1280px;
    /* display: flex;
    justify-content: center;  */
    overflow: hidden;
    /* border: 1px solid red; */
}

.sec02-title {
    position: absolute;
    width: 100%;
    background-color: #1ecad37e;
    z-index: 1;
}

.sec02-title-p {
    /* display: inline-block; */
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 60px;
    width: inherit;
    height: 60px;
    color: #fff;
    
    /* background-color: rgba(0, 0, 0, 0.418); */
}

.sec02-article-wrap {
    width: 100%;
    max-height: 700px;
    display: flex;
}



.sec02-article {
    position: relative;
    width: 33.3333%;
    height: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    /* position: relative; */
}

.sec02-article-title {
    width: 100%;
    height: 700px;
    color: #fff;
    margin: 350px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
}

.sec02-article-title:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    right: 50%;
    transform: translateX(50%);
    top: -20px;
    transition: 0.3s;
    /* bottom: 0; */
}

.sec02-article-title:hover:before {
    width: 100px;
    background-color: #1ecad3;
}

.image-detail {
    position: absolute;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.493);
    /* border: 1px solid red; */
}

.sec02-image01 {
    height: 100%;
}

/* -------------------------------------------------sec03 */

.sec03-title-wrap {
    display: flex;
    justify-content: center;
}

.sec03-title {
    color: #171717;
    text-align: center;
    width: 1200px;
    height: 180px;
    padding: 60px 0;
    /* border: 1px solid red */
}

.sec03-title h1 {
    font-size: 35px;
    font-weight: 500;
}

.sec03-title p {
    margin: 8px 0;
    font-weight: 200;
}

.sec03-article-container {
    display: flex;
    justify-content: center;
    
}

.sec03-article-wrap {
    width: 1200px;
    height: 250px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec03-article { 
    position: relative;
    width: 216px;
    height: 216px;
    border-radius: 8px;
    /* border: 1px solid red; */
    /* margin: 8px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.sec03-article-title{
    color: #fff;
    /* margin: 150px 0; */
    position: absolute;
    bottom: 40%;
    font-size: 20px;
    /* text-align: center; */
    /* margin: 0 auto; */
    font-weight: 800;
    letter-spacing: 1.3px;
}

.sec03-article-info {
    position: absolute;
    bottom: 30%;
    color: #fff;
    font-weight: 200;
}

.section-line {
    width: 1200px;
    margin: 40px auto;
    height: 2px;
    background-color: #1ecad3;
}

/* -------------------------------------------------sec04 */

.sec04-title-wrap {
    display: flex;
    justify-content: center;
}

.sec04-title {
    color: #171717;
    text-align: center;
    width: 1200px;
    height: 140px;
    padding: 20px 0;
    /* border: 1px solid red */
}

.sec04-title h1 {
    font-size: 35px;
    font-weight: 500;
}

.sec04-title p {
    margin: 8px 0;
    font-weight: 200;
}

.sec04-article-container {
    display: flex;
    justify-content: center;
    
}

.sec04-article-wrap {
    width: 1200px;
    height: 250px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec04-article { 
    position: relative;
    width: 380px;
    height: 206px;
    border-radius: 8px;
    /* border: 1px solid red; */
    /* margin: 8px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* object-fit:  ; */
}

.sec04-article img { 
    width: 130%;
    height: 130%;
    /* object-fit:  ; */
}

.sec04-article-title{
    color: #424242;
    margin: 10px 5px 0 0;
    /* position: absolute; */
    bottom: 40%;
    font-size: 18px;
    text-align: center;
    /* margin: 0 auto; */
    font-weight: 600;
    letter-spacing: 1.3px;
}

.sec04-article-info {
    /* position: absolute; */
    bottom: 30%;
    text-align: center;
    color: #424242;
    font-weight: 200;
}

.more-button {
    width: 200px;
    height: 40px;
    margin: 40px auto;
    background-color: #1ecad3;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
}

.more-button a{
    font-weight: 300;
}

/* -------------------------------------------- sec05 */

.sec05-title-wrap {
    display: flex;
    justify-content: center;
}

.sec05-title {
    color: #171717;
    text-align: center;
    width: 1200px;
    height: 140px;
    padding: 20px 0;
    /* border: 1px solid red */
}

.sec05-title h1 {
    font-size: 35px;
    font-weight: 500;
}

.sec05-title p {
    margin: 8px 0;
    font-weight: 200;
}

.sec05-article-container {
    display: flex;
    justify-content: center;
    
}

.sec05-article-wrap {
    width: 1200px;
    height: 250px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec05-article { 
    position: relative;
    width: 216px;
    height: 216px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    /* margin: 8px; */  
   
    
}

.sec05-article img {
    opacity: 1;
    transition: 0.4s;
}

.sec05-article:hover img {
    opacity: 0.5;
}

.sec05-article:hover .sec05-article-info {
    opacity: 1;
}



.img-wrap {
    width: 216px;
    height: 216px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: black;
}

.user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #424242;
    position: absolute;
    top: -12%;
    z-index: 1;
}

.sec05-article-info {
    position: absolute;
    top: 15%;
    color: #fff;
    opacity: 0;
    font-weight: 200;
}

/* ------------------------------------------------- footer */

footer{
    padding: 50px 0;
    margin-top: 70px;
    height: 380px;
    background-color: #292b2c;
}