

/* 콘텐츠영역 */
.sub03-community-camper {
  margin-top: 20px;
}
.con-sub03-camper-title{
  margin-bottom: 30px;
}

.tit-sub03-camper {
  padding: 10px 0;
  color: var(--point-color);
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
}
.tit-sub03-camper-tag{
  width: 100%;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
  grid-template-rows: auto;
}
.tit-sub03-camper-tag li{
  padding: 5px 0;
  font-weight: 100;
  font-size: 11px;
}
.tit-sub03-camper-tag li a{
  white-space:nowrap;
}
/* best-camper */
.con-sub03-bestCamper {}
.con-sub03-latestPost{
  margin-top: 100px;
}
.tit-sub03-best-camper{}
.tit-sub03-best-camper h3,
.tit-sub03-latestPost h3{
  margin: 20PX 0;
  border-left: 3px solid #000;
  padding-left: 10px;
}
.tit-sub03-best-camper h3 span,
.tit-sub03-latestPost h3 span{
  float: right;
  font-size: 11px;
  font-weight: bold;
  color: var(--point-color);
}

.wrap-col-sub03-best-camper,
.wrap-col-sub03-latest-post{
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  overflow: hidden;
}
.col-sub03-bc{

}

.col-sub03-bc-item{
  border-radius: 8px;
  background: #fff;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}
.col-sub03-bc-img{
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;

}
.new {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  font-size: 12px;
  background-color: pink;
  color: #fff;
  padding: 5px;
  margin: 15px;
  border-radius: 3px;
}







