@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
  --text-color: #555555;
  --point-color: #1ECAD3;
  --bg-color: rgb(240, 240, 240);
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #555555;
  font-size: 15px;
  width: 100%;
  height: 100%;
}

a {
  color: #555555;
}
#gnb-aside{
  position: absolute;
  background-color: #fff;
  width: 300px;
  height: 100%;
  top: 0;
  left: -300px;
  z-index: 99;
  transition: 0.5s;
}
.gnb-aside-menu{
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  display: none;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
}
.gnb-aside-menu li{
  font-weight: 400;
}
.gnb-aside-menu.active{
  display: flex;
}

header {
  text-align: center;
  position: static;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
.wrap-header{
  position: relative;
  margin-top: 0;
}
.con-header{
  position: relative;
}
.nav-toggleBtn {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 20px;
  font-size: 20px;
  color: rgb(189, 186, 186);
  z-index: 99999;
}
.user {
  position: absolute;
  right: 0;
  font-weight: 100;
  padding-top: 30px;
}

.user span {
  padding-left: 10px;
  font-size: 13px;
}

.login {}

.join {}

.logo {
  padding: 30px;
}
.logo img{
  width: 150px;
}
.gnb-menu,
.sub-menu{
  display: none;
  justify-content: center;
}

.gnb-menu{
  border-bottom: 1px solid #eee;
}
.gnb-menu li a,
.gnb-aside-menu li a{
  font-weight: 400;
}

.gnb-menu li,
.gnb-aside-menu li {
  padding: 15px 80px;
  box-sizing: border-box;
}
.wrap-gnb-subMenu{
  background-color: rgb(240, 240, 240);
}
.sub-menu li {
  width: calc(768px / 3);
  padding: 15px 0;
  font-size: 14px;
  font-weight: 100;
}


.gnb-aside-menu li:hover,
.sub-menu li:hover {
  background-color: var(--point-color);
  color: #fff;
}
.gnb-aside-menu li:hover a{
  color: #fff;
}

/* 콘텐츠 너비-모바일 */
.container {
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 30px);
  max-width: 100%;
  box-sizing: border-box;
  min-height: 1px;
}




