:root{
  --text-color:#555555;
  --point-color:#1ECAD3;
  --bg-color: rgb(240, 240, 240);
}

body{
  color: #555555;
  font-size: 15px;
}
a{
  color: #555555;

}
.top_header{
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
}
.user{
  position: absolute;
  right: 0;
  /* border: 1px solid #000; */
  padding: 20px;
}
.user span{
  padding-left: 10px;
  font-size: 13px;
}
.login{}
.join{}
.logo{
  padding: 30px;
}
.menu, .sub-menu{
  display: flex;
  justify-content: center;
}
.menu li, .sub-menu li{
  padding: 15px 50px;
}

.sub-menu{
  background-color: rgb(240, 240, 240);
  font-size: 13px;
  display: none;
}
/* 차박검색 페이지에만 적용하는 코드 */
.sub-menu.search{
  display: flex;
}
.sub-menu li:hover {
  background-color: var(--point-color);
  color: #fff;
}
.nav_toggleBtn{
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  font-size: 20px;
  color: rgb(189, 186, 186);
  display: none;
}


/* 콘텐츠영역 */
section{
  position: absolute;
  top: 180px;
  width: 100%;
}
/* 콘텐츠 너비-공통 */
.container{
	margin-right : auto;
	margin-left : auto;
	width : calc(100% - 30px);
	max-width:100%;
	box-sizing: border-box;
	min-height:1px;
  margin-top: 50px;
}
.con_sub01{
}
.title{
  padding: 10px;
  color: var(--point-color);
  font-size: 15px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}
.contents{
  /* border: 1px solid #000; */
}
.contentCnt{
  padding: 20px 0 10px 0;
  font-size: 13px;

}
.wrap_content{
  display: flex;
  justify-content: space-between;
}
.new{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  font-size: 12px;
  background-color: pink;
  color: #fff;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
}
.wrap_content a{
  display: inline-block;
  width: 300px;
  height: 250px;
  padding: 10px;
  margin-bottom: 50px;
  position: relative;
}
.wrap_content a img{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 80%;
  border-radius: 8px;

}
.wrap_content a h2{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.wrap_content a h2 em{
  display: block;
  font-size: 13px;
  padding: 5px;
}



@media screen and (max-width:1024px){
  .wrap_content a{
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin-bottom: 50px;
  }
}


@media screen and (max-width:768px) {
   .top_header{
    position: static;
  } 

  .menu{
    flex-direction: column;
    display: none;
    text-align: left;
    font-size: 14px;
    font-weight: 800;
    height: 20vh;
    background-color: #fff;
    z-index: 99999;
  }
  
  .menu.active{
    display: flex;
  }
  .menu li{
    
  }
  .menu li:hover{
    background-color: var(--point-color) !important;
  }
  .menu li:hover a{
    color: #fff;
  }

  .nav_toggleBtn{
    display: inline-block;
  }
  .user{
    display: none;
  }
  .sub-menu{
    display: none !important;
  }
  section{
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: -1;
  }
  .wrap_content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
