* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 112px;
    border: 1px solid red;
}

.header-inside {
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
}

.header-inside-top {
    display: flex;
}

.header-inside-top-left {
    border: 1px solid red;
    width: 390px;
    height: 112px;
    padding: 30px 0;
}

.header-inside-top-middle {
    border: 1px solid red;
    width: 420px;
    height: 112px;
    padding: 30px 0;
    text-align: center;
    line-height: 80px;
}

.header-inside-top-right {
    position: relative;
    border: 1px solid red;
    width: 390px;
    height: 112px;
    padding: 30px 0;
}

.top-side-menu {
    position: absolute;
    right: 0;
    display: inline-block;
    margin-top: 25px;
}

.top-side-menu a:first-child{
    display: inline-block;
    margin-right: 10px;
}