/* Nanum Gothic */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
  list-style: none;
}
body{
  font-family: 'Nanum Gothic', sans-serif;
  color: #222;
  margin: 0;
}
a{
  text-decoration: none;
  color: #222;
}
.h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

/* 커뮤니티캠퍼 */
#gnb-community{
  color: #0AB0B8;
}

/* 콘텐츠 너비-공통 */
.container{
  margin-right : auto;
  margin-left : auto;
  width : calc(100% - 30px);
  max-width:100%;
  box-sizing: border-box;
  min-height:1px;
  margin-top: 50px;
  }


/* 여기서부터 section; top:192px */
section{}
.commu-main{
  position: absolute;
  top: 192px;
  height: 200px;
  background-color:#1ECAD3;
  width: 100%;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
.titBox{
  margin-top: 60px;
}
.titBox h1{
  font-weight: 800;
}
.titBox span{
  font-size: 15px;
}
.container-commu{
  position: absolute;
  width: 100%;
  top: 393px;
}
.commu-user{
}
.wr-content1{}
.wr-content1 .title,
.wr-content2 .title{
  text-align: center;
  padding: 10px;
}
.commu-content{
  text-align: center;

}
.commu-content a{
  display: inline-block;
  margin: 10px;
}
.commu-content a img{
  width: 200px;
  height: 200px;
  overflow: hidden;
}

/* 차박가이드-슬라이드 섹션 */

article{}
.wr-content2{
  /* 임시 */
  margin-bottom: 100px;
}
.wr-content2 .title{
  padding-bottom: 0;
}
/* 화살표 포함 콘텐츠 영역 */
.wr-arrow-content{
  margin: auto;
  width: 880px;
  height: 250px;
  display: flex;
  justify-content: center;
  position: relative;
}
/* 화살표 */
.fas{
  position: absolute;
  font-size: 25px;
  color: #aaa;
  cursor: pointer;
}

#arrow-l{
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
#arrow-r{
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}

/* 눈에 보이는 부분 */
.view-slide{
  width: 870px;
  height: 290px;
  position: relative;
  overflow: hidden;
}    

/* 전체 감싸는 div */
.wr-slides{
  position: absolute;
  top: 0;
  left: 0;
  width: 1740px;
}    
.wr-slides a{
  display: inline-block;
  width: 290px;
  height: 290px;
  padding: 20px;
  margin-right: -6px;
  box-sizing: border-box;
  text-align: center;
}  
.wr-slides a img{
  width: 250px;
  height: 250px;
  border-radius: 8px;
}  



