@charset "UTF-8";

/* 375~768 */

@media screen and (min-width: 375px){
    .container{
        margin-right : auto;
        margin-left : auto;
        width : calc(100% - 30px);
        max-width:100%;
        box-sizing: border-box;
        min-height:1px;
    }
    .sub-menu{
        display: none;
    }

    /* sub01 */
    .wrap-col-sub01{
        grid-template-columns: 1fr;
        justify-content: space-around;
    }
    /* sub02 */
    .wrap-col-sub02-site-region{
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }
    /* sub03 */
    .wrap-col-sub03-best-camper,
    .wrap-col-sub03-latest-post{
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }

    .wrap-col-sub03-guide-tip,
    .wrap-col-sub03-guide-board{
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }
    /* mypage */
    .mypage-profile {
        margin-top: 0;
    }
    
    .profile-inside {
        width: 90%;
    }

    .mypage-button a {
        width: 50%;
    }
    
    /* 211021 */
     .main-inner-text {
        flex-direction: column;
    }

    .main-inner-text h1 {
        margin-bottom: 6px;
    }

    .season-sub-row {
        grid-template-columns: repeat(1,1fr);
    }
    

    
}