@charset "UTF-8";

/* 768~1024 */
@media screen and (min-width : 768px){
    
/* 메인 테스트 */
    
/* sec02 */
.wrap-col-main-sec02{
    background: #fff;
    position: absolute;
    top: 100vh;
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: repeat(12, 1fr);
  
  }
  .tit-main-sec02{
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--point-color);
    font-size: 17px;
    color: #fff;
  }
  .tit-main-sec02 h1{
    width: 100%;
    text-align: center;
  }
  .col-main-sec02-item{
    grid-row : 3 / -1;
    position: relative;
    min-height: 100%;
  }
  .bg-rec-course{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* 바탕용 */
  .bg-main-sec03{
    position: absolute;
    top: 180vh;
    width: 100%;
    background-color: #fff;
  }
  .bg-main-sec04{
    position: absolute;
    top: 260vh;
  }
  .wrap-col-main-sec03,
  .wrap-col-main-sec04{
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  .tit-main-sec03,
  .tit-main-sec04{
    grid-column: 1 / -1;
    grid-row: 1 / span 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}
.tit-main-sec03 span,
.tit-main-sec04 span{
    background-color: rgba(211, 211, 211, 0.37);
    padding: 10px 20px;
    border-radius: 10px;
  }
  .more{
    grid-column: 1 / -1;
    grid-row: 5 / span 1;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 13px;
    color: var(--point-color);
  }

  
  
    /* pc부터는 헤더 고정 */
    header{
        top: 0;
        left: 0;
        position: fixed;
    }
    #gnb-aside{
        display: none;
    }
    .gnb-menu{
        display: flex;
    }
    
    .nav-toggleBtn{
        display: none;
    }
    /* 공통section */
    section{
        position: absolute;
        width: 100%;
        top: 160px;
    }
    /* 메인section */
    .main-sec01{
        /* top: 0; */
    }
    video{
        min-width : 100%;
        min-height : 100%;
        width : auto;
        height : auto;
        z-index : -1;
    }
    /* sub02,sub03 section 시작 */
    .sub02-tour-site,
    .sub03-community-guide{
        top: 138px;
    }
    
    .container{
        margin-right : auto;
        margin-left : auto;
        width : calc(100% - 80px);
        max-width:100%;
        box-sizing: border-box;
        min-height:1px;
    }
    /* sub01 */
    .wrap-col-sub01{
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
    /* sub02 */
    .sub02-tour-site-welcome-box{
        height: 800px;
        width: 100%;
        position: fixed;
        z-index: -1;
    }
    .con-sub02-site-currLoc{
        margin-top: 800px;
        background: #fff;
        justify-content: center;
    }
    .wrap-col-sub02-site-region{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    /* sub03 */
    .wrap-col-sub03-best-camper,
    .wrap-col-sub03-latest-post{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tit-sub03-camper-tag{
        grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
    }

    .tit-sub03-camper-tag li{
        font-size: 14px;
    }
    .tit-sub03-guide-search{
        font-size: 18px;
    }
    .sub03-guide-search{
        width: 50%;
    }

    .wrap-col-sub03-guide-tip,
    .wrap-col-sub03-guide-board{
        grid-template-columns: 1fr 1fr 1fr;
    }
    

/* mypage */
    .mypage-profile {
        margin-top: 50px;
    }
    
    .profile-inside {
        width: 90%;
    }

    .mypage-button a {
        width: 40%;
    }


        
    /* Layer Popup */
    .modal{
        position: fixed;
        z-index: 99999;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: none;
    }
    .modal-inner{
        background-color: #fff;
        min-width: 800px;
        min-width: 800px;
        height: 500px;
        padding: 15px;
        z-index: 10;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .modal-inner>div{
        padding: 10px;
    }
    .click-img{
        grid-column: 1 / span 2;
        box-sizing: border-box;
        position: relative;
    }
    .click-img img{
        position: absolute;
        top: 0;
        left: 0;

    }
    .desc{
        grid-column: 3 / -1;
        line-height: 1.6em;
    }
    .profile{}
    .profile span{
        margin-left: 20px;
        padding: 15px;
        padding-left: 40px;
        display: block;
        position: relative;
    }
    .profile span::before{
        content: '';
        width: 30px;
        height: 30px;
        top: 22%;         
        left: 0;
        position: absolute;
        display: inline-block;
        background-color: lightcoral;
        margin-right: 15px;
        border-radius: 50%;
    
    }
    .close-modal{
        position: absolute;
        top: 0;         
        right: 0;
        margin: 15px;
        cursor: pointer;
        background-color: transparent;
        font-size: 25px;
        color: #999;
        border: none;
    }
    .close-modal:hover{
        color: #000;
    }
    .desc-content{}
    .desc-content p{
        padding: 10px;
    }
    .hashtag{
        padding: 10px;
        position: absolute;
        bottom: 0;
        margin: 0 20px 20px 0;
    }
    .overlay{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.082);
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
        display: none;
    }
    
    /* main-footer */
    #footer_main{
		position:absolute;
		width:100%;
		top: 2600px;
	}
    
}