@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Nanum Gothic', sans-serif;
}


a{
    color: rgb(105, 105, 105);
    text-decoration: none;
}

.inline-section-wrap {
    width: 100%;
}


.inline-inside {
    width: 1200px;
    margin: auto;
}

.inline-section {
    display: flex;
    justify-content: center;
}

.inline-col-group-left {
    width: 390px;
    height: 90px;
    padding:30px 0px;
}

.inline-col-group-center {
    width: 420px;
    height: 90px;
    padding:30px 0px;
    display: flex;
    justify-content: center;
}

.logo-img  {
    
}

.inline-col-group-right {
    width: 390px;
    height: 90px;
    padding:30px 0px;
    display: flex;
    justify-content: flex-end;
}

.wiget {
    margin-right: 20px;
}

.wiget a {
    font-family: 'Nanum Gothic', sans-serif;
    margin-right: 5px;
    font-weight: normal;
    font-size: 14px;
}

.inline-col {
    padding:10px 0px;
    z-index: 100;
}

.inline-col ul {
    height: 40px;
    display: flex;
    justify-content: center;
}

.inline-col ul li {
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 350px;
    padding:0px 50px;
}

.inline-row:nth-child(2),
.inline-row:nth-child(3) {
    height: 40px;
}

.inline-row:nth-child(2)>.inline-col,
.inline-row:nth-child(3)>.inline-col {
     z-index: 1;
     height: 40px;
     padding: 0;
}
.inline-row:nth-child(2)>.inline-col ul,
.inline-row:nth-child(3)>.inline-col ul {
    height: 10px;
}
.inline-row:nth-child(2)>.inline-col ul li,
.inline-row:nth-child(3)>.inline-col ul li {
    width: 150px;
    padding:0px 20px;
    height: 40px;
    transition: 0.3s;
}

.inline-row:nth-child(2)>.inline-col ul li:hover,
.inline-row:nth-child(3)>.inline-col ul li:hover{
    background-color: #1ecad3;   
}

.inline-row:nth-child(2)>.inline-col ul li:hover a,
.inline-row:nth-child(3)>.inline-col ul li:hover a{
    color: white;
}

.inline-row:nth-child(2)>.inline-col ul li a {
    color: rgb(131, 131, 131);
}

/* 메인화면 gnb 라인 */
.line {
    display: none;
    border-bottom: 1px solid black;
}

.inline-section-warp {
    position: relative;
}

.inline-insid-bottom-bg {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 40px;
    background-color: rgb(240, 240, 240);
    z-index: -1;
}

/* levelPage-section */
.levelPage-section { 
    width: 100%;
    display: flex;
    justify-content: center;
}
.levelPage-section-inside {
    width: 1200px;
}
.levelPage-section-title {
    color: #1ecad3;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(192, 192, 192);
}
.levelPage-count {
    margin-bottom: 10px;
    font-weight: 500;
    color: gray;
}

.levelPage-contents-row {
    display: flex;
    justify-content: space-between;
}

.levelPage-contents-col {
    width: 366px;
    height: 366px;
    overflow: hidden;
}

.levelPage-contents-img {
    position: relative;
    width: 100%;
    height: 244px;
    border-radius: 8px;
    overflow: hidden;
}

.levelPage-contents-new {
    margin: 12px;
    text-align: center;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 0.5;
    font-weight: 500;
    border-radius: 4px;
    color: white;
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 36px ;
    height: 21px;
    background-color: rgb(255, 118, 141);
}

.levelPage-contents-scrap {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

.levelPage-contents-img img {
    width: 500px;
    position: absolute;
    top: -40px;
}

.levelPage-contents-col h1 {
    width: 100%;
    margin: auto; 
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: rgb(61, 61, 61);
    margin-top: 20px;
}

.levelPage-contents-status {
    text-align: center;
    margin-top: 10px;
}