@charset "UTF-8";


.h2 { padding: 20px 0; background: url(../images/bu-tit.gif) no-repeat 0 6px; font-size: 17px; color: #222; line-height: 100%;}
.agree {width:500px; border: 1px solid #e6e6e6;}
.agree > div {box-sizing:border-box; font-weight: 300; overflow: auto; height: 250px; padding: 24px 30px; font-size: 13px; color: #555; line-height: 16px;}
.agree > p { height: 43px; background:#f8f8f8; border-top: 1px solid #e6e6e6; line-height: 43px; font-size: 13px; color: #222; text-indent: 19px;}
.agree div::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.form-body {
	display:flex;
	justify-content:center;
	width: 100%;
}

@media screem and(min-width: 375px) {
	.form-body {
		display:none;
	}
}

.con-join-form{
	display: flex;
	justify-content: center;
	align-items: center; 
}
.join-page{
	box-sizing: border-box;
	margin: 0 auto;
}

.input-div {
	
}

.tit-join{
	padding:20px;
  	margin-top: 0;
  	font-size: 25px;
  	text-align: center;
  	font-weight: normal;
}
.tit-agree{
	width:100%;
	text-align: left;
	padding-bottom:10px;
}
h3{
	padding: 20px 0 5px 0;
	text-align: left;
}
.birth{
	display: flex;
	width: 360px;
	justify-content: space-between;
}
select{
	padding:8px;
	width: 115px;
}
input{
    width: 100%;
	padding: 8px;
	box-sizing: border-box;
}
.btn{
    width: 25%;
    padding: 8px;
	border: none;
	background-color: #ff8080;
	border-radius: 5px;
	color:#fff;
	font-weight: 600;
	cursor: pointer;
	display: inline-block;
	margin-left: 10px;
}
input[type=checkbox]{
	width: 20px;
	font-size:11px;
}
#userId,#nickname{
	width: 70%;
}
#join {
	display:block;
    width: 100%;
    padding: 8px;
    background-color:var(--point-color);
    color : #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border:none;
    margin:30px 0;
}
.valid-msg{
	width:300px;
	line-height:18px;
	font-size: 13px;
	color:crimson;
}

footer{
  position: absolute;
  margin-top:140px;
  top: 1400px;
  width: 100%;
}
