@charset "UTF-8";


.sec-login{
  position: absolute;
  top: 90px;
  width: 100%;
  height: calc(100vh - 90px);

  /* box-sizing: border-box; */
}
.login-form{
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.login-type{
}
.login-type h1{
	padding:20px;
  margin-top: 0;
  font-size: 25px;
  text-align: center;
  font-weight: normal;
}
.common-login input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding-left: 15px;
}
.common-login input::placeholder{
  opacity: 1;
  transition: 0.3s;
}
.common-login input:focus::placeholder{
  opacity: 0;
}
.btn{
  display: block;
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 10px;
/*   background-image: url(images/kakao-talk.png);
  background-repeat: no-repeat;
  background-position: center left; */
  opacity: 0.8;
}
.btn:nth-of-type(1){
  background: #1ECAD3;
  color: #fff;

}
.btn:nth-of-type(2){
  background: gold url(images/kakao-talk1.png) no-repeat center left 10px;
  
}
.btn:hover{
  opacity: 1;
}
.or-text{
  display: block;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
/* before after는 자식요소이자, 인라인요소 */
.or-text:before,
.or-text::after{
  content: '';
  position: absolute;
  background-color: lightgray;
  height: 1px;
  width: 44%;
  top: 8px;

}
.or-text:before{
  left: 0;
}
.or-text::after{
  right: 0;
}
.login-footer{
  font-size: 13px;
  color: rgb(97, 97, 97);
}
.wrap-find{
	display: flex;
	justify-content: center;
}
.wrap-find a,.wrap-find span{
	padding: 10px;	
}	
.wrap-find a:hover{
	text-decoration: underline;
}
.login-footer p{
	margin-top:30px;
  text-align: center;
}
.login-footer p a{
  font-weight: 700;
}
.login-footer p a:hover{
  text-decoration: underline;
}

footer{
  position: absolute;
  top: 100vh;
  width: 100%;
}

/* 211014 정현직 */

input[type="submit"] {
  border: none;
  width: 100%;
}