/* Nanum Gothic */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    color: #222;
    font-weight: 300;
}
a{
    color: #222;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-style: normal;
}
.sec3-title h1,
.sec4-title h1,
.sec5-title h1{
    font-weight: 800;
    text-align: center;
    color: #1ECAD3;
    font-size: 30px;
}

.more-view a{
    color: #1ECAD3;
    font-size: 13px;
    font-weight: 700;

}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    opacity: 1;
    justify-content: center;
    position: fixed;
    z-index: 99999;

    /* 버전2 ; 하얀바탕 위 스타일*/
    /* background-color: rgba(255, 255, 255, 0.438); */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.24);
}

/* before 오버레이 줄 경우 */

header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.205); */
    top: 0;
    left: 0;
}


/* header active Class */
/* fullpage.js로 스크롤을 인식하지 않아 해당 코드 의미 없음 */
/* header.active .gnb>ul>li,
header.active .join>span>a{
    color: #222;
    
}
header.active header::before{
    transition: 0.5s;
    background-color: #fff;
}
header.active header{
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
     
} */

.mainPage{
    height: 100%;
    margin: 0;
}

.video-frame video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.menuTop{
    position: relative;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    z-index: 99999;
}
.logo h3{
    margin: 0;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    color: #1ECAD3;
    font-weight: 600;
}
.gnb{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gnb ul{
    padding-left: 0;
    list-style: none;
    display: flex;
}
.gnb ul li a{
    color: #fff; 
    margin: 0 60px;
}
.join-box{
    position: absolute;
    top: 0;
    right: 0;
}
.join{
    display: inline-block;
    padding-top: 20px;
}


.join span a{
    color: #fff;
    margin: 20px 0 0 20px;

}
.menu-nav{
    display: inline-block;
}
input[id=menu]{
    display: none;      /* 기존 형태를 지우고자 */
}
label[for=menu]{
    position: relative;
    display: block;
    width: 20px;
    height: 15px;
    cursor: pointer;

}
label[for=menu] span{
    position: absolute;
    display: block;
    background-color: #1ECAD3;
    width: 100%;
    height: 2px;
}
label[for=menu] span:nth-child(1){
    top: 0;
}
label[for=menu] span:nth-child(2){
    top: 50%;
}
label[for=menu] span:nth-child(3){
    top: 100%;
}
.title{
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
    color: #fff;
    /* border: 1px solid #000; */
}
.title h5{
    font-weight: 300;
    font-size: 20px;
    /* border: 1px solid #000; */
    margin-bottom: 10px;
}
.title h5 strong{
    font-size: 25px;
}
.title h3{
    margin-top: 0;
    padding-left: 70px;
    font-size: 40px;
    font-weight: 500;

}
.title h3 span{
    display: inline-block;
    width: 60px;
    height: 50px;
    border: 1px solid #fff;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: #1ECAD3;
}

/* section2_추천서비스 */
.recommendPage{
    margin: 0;
    display: flex;
}
.sec2-header{
    height: 10%;
    background-color: #0AB0B8;
    color: #fff;
    text-align: center;
    line-height: 80px;
}
.sec2-title{
    margin: 5px;
}
.sec2-header em{
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
}
.sec2-slider{
    height: 90%;
    box-sizing: border-box;
}

.sec2-slider .img{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.sec2-slider .img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/* section3_캠핑장 정보 */
.searchPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.wrap-sec3{
    width: 90%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid #000; */
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.sec3-title span{
    display: block;
    text-align: center;
}


.sec3-contents{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 80%;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    margin-top: 20px;
}
.sec3-contents .more-view{
    /* border: 1px solid #000; */
    text-align: right;
    margin-right: 20px;
}
.sec3-contents ul{
    height: 230px;
    width: 100%;
    margin: auto;
    padding: 0;
    padding-top: 30px;
    box-sizing: border-box;
    /* border: 1px solid #000; */
    display: flex;
}
.sec3-contents ul li{
    flex: 1;
    list-style: none;
    /* border: 1px solid red; */
    height: 220px;
    position: relative;
}


.sec3-contents ul li .image{
    position: absolute;
    min-width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    background-color: pink;
}
.image img{
    border-radius: 50%;
    /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); */
}
.sec3-contents ul li .detail{
    position: absolute;
    top: 160px;
    width: 100%;
    height: 60px;
    padding: 5px;
    

}
.detail h5{
    text-align: center;
    margin: 0;
    margin-top: 4px;
}
.detail span{
    font-size: 13px;
    display: block;
    text-align: center;
}

/* sec4_tourInfo */
.tourInfoPage{
    background-color: #eee;
}

.wrap-sec4{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.sec4-title{
    text-align: center;
    padding-bottom: 60px;
}
.sec4-title h1{
    font-size: 30px;
}
.sec4-contents{
    position: relative;
}

.sec4-contents .more-view{
    float: right;
    position: absolute;
    top: -30px;
    right: 20px;
}
.sec4-slider {
    width: 100%;
    margin: auto;
    position: relative;
}

.sec4-slider div {
    /* border: 1px solid #000; */
    height: 300px;
    position: relative;

}

.sec4-slider div img {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.sec4-slider div .fes-title {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    opacity: 0;
    border-radius: 10px;

}

.fes-title h3 {
    position: absolute;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    right: 0;
    bottom: 0;
    padding-right: 30px;
}

.sec4-slider div em {
    font-style: normal;
    display: block;
    
}

.slick-slide:hover .fes-title {
    opacity: 1;
}

/* 개발자소스 slick slide.js의 slick-slide클래스에 padding값주기 */
.sec4-slider .slick-slide {
    padding: 0 20px 0 20px;
    /* 상하에 padding값을 주면 사이즈에서 벗어남, 그런데 box-sizing: borderbox도 소용없음.; */
    box-sizing: border-box;
}

.sec4-slider .slick-arrow {
    color: #000 !important;
    /* border: 1px solid #000; */
    /* display: none !important; */
}
.slick-dots{
    bottom: -70px !important;
}
/* .slick-dots li button::before{
    font-family: fontawesome;
    content: '\f111' !important;


} */


/* sec5_community */
.communityPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sec5-title{
    text-align: center;
    padding-bottom: 20px;
}
.wr-sec5-contents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec5-contents{
    width: 80%;
    position: relative;
}
.sec5-contents .more-view{
    position: absolute;
    top: -10px;
    right: 100px;
}
.wr-sec5-item{
    display: flex;
    justify-content: center;
}

.sec5-item{
    margin: 30px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);

}

.sec5-item img{
    width: 300px;
    height: 300px;
}
.sec5-item .details{
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    /* bottom: 0; */
    bottom: -50px;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 5px;
}
.sec5-item:hover .details{
    bottom: 0;
}

.sec5-item .details h5{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 50px;
}
.sec5-item .details h5::before{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: lightskyblue;
    left: 8%;
    top: 20%;
    border-radius: 50%;
}
.sec5-item .details em{
    font-size: 13px;
    font-style: normal;
    display: block;
    font-weight: 300;
}

.sec5-item .details button{
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 12px;
    background-color:#2F686B; 
    color: #fff;
    border-radius: 5px;
}

/* fp-nav변경 */
#fp-nav{
    /* bottom: 1000px !important; */

}