<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>littleCarrest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.littleCarrest.common.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>wrapperFilter</filter-name>
    <filter-class>com.littleCarrest.common.filter.WrapperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>wrapperFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>com.littleCarrest.common.exception.PageNotFoundException</exception-type>
    <location>/WEB-INF/views/error/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>com.littleCarrest.common.exception.HandleableException</exception-type>
    <location>/exception-handler</location>
  </error-page>
</web-app>